body{
	background-color: #fff2e6;
	text-align: center;
	font-family: "Avenir";
	text-transform: uppercase;
}
h1{
	font-weight: 800;
	font-size: 50px;
}
button{
	border: none;
	background-color: rgba(255,153,153,0.5);
	font-weight: 600;
	padding: 15px 20px;
	border-radius: 10%;
}
#container{
	background-color: rgb(255,102,102);
	width: 50%;
	margin: 100px auto; 
	font-size: 20px;
	font-weight: 600;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10%;
}
#p1Current{
	padding-right: 30px;
}
#p2Turn{
	padding-left: 30px;
}

#roll{
	margin-right: 30px;
	margin-left: 30px;
}
#score{
	width: 500px;
	text-align: center;
	font-weight: 600;
	margin: 30px auto;
	font-size:50px;
}
#p1Bet{
	padding-right: 20px;
}
#p2{
	padding-left: 20px;
}
.players{
	font-size:30px;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}
.fa-circle{
	color: rgba(255,153,153,0.6);
	margin-right: 5px; 
}